@model IEnumerable<Student>
    <div class="card-deck">
        @foreach (var student in Model)
        {
            var photoPath = "/img/" + (student.PhotoPath??"photo.jpg");
            <div class="card m-3">
                <div class="card-header"><h4>@student.FirstName @student.LastName</h4></div>
                <div class="card-body">
                    <img class="card-img-top" src="@photoPath" alt="Alternate Text" />
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-primary text-white" asp-controller="home" asp-action="details" asp-route-id="@student.Id">Details</a>
                    <a class="btn btn-primary text-white" asp-controller="home" asp-action="edit" asp-route-id="@student.Id">Edit</a>
                    <a class="btn btn-danger text-white" asp-controller="home" asp-action="delete" asp-route-id="@student.Id">Delete</a>
                </div>
            </div>
        }
    </div>